### OSX ###
.DS_Store

# Python
*.py[cod]
__pycache__

# Unit test / coverage reports
.coverage
nosetests.xml
htmlcov

# VirtualEnv
_venv

#Sphinx
docs/_build

# Vim
*~
*.swp
*.swo

# distutils
uSphinx.egg-info

# tox
.tox

# disttils
build
dist
sdist
uSphinx.egg-info
